Standard: Cpp11
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 2
SortIncludes: true
AccessModifierOffset: -2
AlignAfterOpenBracket: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
